*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}

:root{
    --bg-primary: #1A0B2E;
    --bg-secondary: #230E3D;
    --btn-secondary: #00FF88;
    --linear-first: #F7E93F;
    --linear-second: #FB09B4;
    --linear-third: #9100F8;
    --text-primary: #FFFFFF;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-primary);
}

/* Shared Styles  */
.container{
    width: 75%;
    margin: 0 auto;
}

.logo-header,
.logo-footer{
    cursor: pointer;
}

.btn-primary{
    padding: 12px 16px;
    color: var(--text-primary);
    background: linear-gradient(to top right, var(--linear-first), var(--linear-second), var(--linear-third));
    border: 1px solid inherit;
    outline:none;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover{
    background: transparent;
    color: var(--btn-secondary);
    border-color: var(--btn-secondary);
}

hr{
    height: 1px;
    border: 1px solid #412567;
}

.section-title{
    font-size: 3rem;
    color: var(--text-primary);
    margin-bottom: 40px;
    text-align: center;
}

.section-description{
    line-height: 20px;
    opacity: 60%;
    margin-bottom: 32px;
    color: var(--text-primary);
}

.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-primary);
    margin: 16px 0;
}

/* header section styles  */
#navbar{
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    display: flex;
    gap: 32px;
}

.navigation a{
    color: var(--text-primary);
    font-size: 1rem;
    font-weight: 600;
}

.hamburger-menu{
    display: none;
    cursor: pointer;
}

#banner{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 70px;
}

.banner-img-container{
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.banner-img-container img{
    width: 100%;
}

.banner-img-container .mic-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-img-container .badge{
    position: absolute;
    top: 20px;
    right: 15px;
    padding: 8px 16px;
    background-color: var(--btn-secondary);
    color: var(--bg-primary);
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 9999px;
    border: none;
    outline: none;
}

.banner-content{
    margin-bottom: 100px;
}

.banner-title{
        margin-top: 40px;
        color: var(--text-primary);
        font-size: 3.75rem;
}
.banner-title span{
        display: inline-block;
        animation: bounce 1s ease infinite;
}
.banner-title span:nth-child(2){
        animation-delay: 0.1s;
}
.banner-title span:nth-child(3){
        animation-delay: 0.2s;
}
.banner-title span:nth-child(4){
        animation-delay: 0.3s;
}
.banner-title span:nth-child(5){
        animation-delay: 0.4s;
}
.banner-title span:nth-child(6){
        animation-delay: 0.5s;
}
.banner-title span:nth-child(7){
        animation-delay: 0.6s;
}
@keyframes bounce{
        0%, 100%{
            transform: translateY(0);
            }
        50%{
            transform: translateY(-20px);
            }
}

.btn-group{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn-group .btn-primary,
.btn-secondary{
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-secondary{
    padding: 12px 16px;
    border-radius: 9999px;
    background-color: transparent;
    border: 1px solid var(--btn-secondary);
    color: var(--btn-secondary);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn-secondary:hover{
    color: var(--text-primary);
    background: linear-gradient(to top right, var(--linear-first), var(--linear-second), var(--linear-third));
    border: none;
}

/* About section styles  */
#about .section-content{
    padding-top: 40px;
    margin-bottom: 80px;
    border-bottom: 1px solid #412567;
}

#about .section-content .section-title{
    margin-bottom: 16px;
}

#about .section-content .section-description{
    padding: 0 15%;
    text-align: center;
}

.about-card-container{
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.about-card{
    padding: 0 10px;
}

.about-card .card-title{
    margin-bottom: 16px;
    font-size: 3rem;
    font-weight: 700;
    color: var(--btn-secondary);
}

/* Why choose section styles  */
#why-choose{
    background-color: var(--bg-secondary);
    padding: 120px 0;
}

.why-choose-card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.why-choose-card-container .why-choose-card:nth-child(1){
    grid-row: span 2;
}

.why-choose-card-container .why-choose-card:nth-child(2),
.why-choose-card:nth-child(3){
    grid-column: span 2;
}

.why-choose-card-container .why-choose-card:nth-child(4){
    grid-column: span 2;
}

.why-choose-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}

.why-choose-card .section-description{
    margin-bottom: 10px;
}

/* Featured episodes section styles  */
#episodes{
    padding: 120px 0;
}

.episodes-card-container{
    display: flex;
    gap: 30px;
}

.episodes-card{
    background-color: #250D44;
    border-radius: 24px;
}

.episodes-card .episodes-video iframe{
    width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.episodes-card .duration{
    display: flex;
    gap: 5px;
    color: #00FF88;
    font-weight: 600;
}

.episodes-card .episodes-card-content{
    padding: 24px;
}

.episodes-card .section-description{
    margin: 12px 0;
}

/* Meet the host section styles  */
#host{
    padding-bottom: 120px;
}

.host-card{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 48px 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}

.host-card .host-img img{
    border-radius: 50%;
}

.card-content .host-name{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--text-primary);
}

.card-content .social-links{
    display: flex;
    gap: 8px;
}

.card-content .social-links .social-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(53, 17, 101, 0.6);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.card-content .social-links img{
    width: 20px;
}

/* footer section styles  */
#footer{
    background: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 1px solid #412567;
}

#footer .container{
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#footer .social-links{
    display: flex;
    gap: 40px;
}

#footer .social-links a{
    display: flex;
    gap: 8px;
    color: var(--text-primary);
}

/* Medium device responsive styles  */
@media screen and (max-width:992px){
    #about .section-content .section-description{
        padding: 0;
    }
    .about-card .card-title{
        font-size: 1.8rem;
    }

    .why-choose-card-container{
        grid-template-columns: 1fr;
        gap: 24px;
    }
    #why-choose .container .why-choose-card-container .why-choose-card{
        grid-column: auto ;
        grid-row: auto ;
    }

    .episodes-card-container{
        gap: 20px;
        flex-direction: column;
    }
    .episodes-card{
        display: flex;
        justify-content: space-between;
    }

    .episodes-card .episodes-video iframe{
        width: 200px;
        height: 100%;
        border-top-left-radius: 24px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 24px;
    }
}

/* Mobile device responsive styles  */
@media screen and (max-width:576px){
    .container{
        width: 95%;
    }

    .section-title{
        font-size: 2rem;
    }

    #navbar .logo-header img{
        max-width: 137px;
    }

    #navbar .navigation{
        display: none;
    }

    #navbar .btn-primary{
        display: none;
    }

    .hamburger-menu{
        display: inline-block;
        cursor: pointer;
    }

    .banner-img-container{
        max-width: 200px;
    }

    .banner-title{
        font-size: 2.5rem;
    }
    #banner .section-description{
        max-width: 80%;
        margin: 0 auto 30px;
    }
    .banner-img-container .badge{
    top: 10px;
    right: -10px;
    }

    .about-card-container,
    #why-choose,
    #episodes,
    #host,
    #footer .container{
        padding: 40px 0;
    }

    .episodes-card-container{
        gap: 16px;
        flex-direction: column;
    }
    .episodes-card{
        display: block;
    }

    .card-title{
        font-size: 1.25rem;
    }

    .episodes-card .episodes-video iframe{
        width: 100%;
        height: 225px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-left-radius: 0;
    }

    .host-card{
        flex-direction: column;
        text-align: center;
    }

    .card-content .social-links{
        justify-content: center;
    }

    .logo-footer img{
        width: 219px;
    }

    #footer .social-links{
        justify-content: center;
        padding: 0 80px;
        flex-wrap: wrap;
}
}

/* smaller device responsiveness */
@media screen and (max-width:360px){
    .section-title{
        font-size: 1.7rem;
    }

    .card-title{
        font-size: 1rem;
    }

    .banner-img-container{
        max-width: 150px;
    }

    .about-card .card-title{
        margin-bottom: 5px;
        font-size: 1rem;
    }
    .about-card .section-description{
        font-size: 0.75rem;
    }

    #footer .container{
        padding-bottom: 10px;
    }

    .logo-footer img{
        width: 180px;
    }

    .copyright-message{
        font-size: 0.75rem;
    }
}