*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}

:root{
    --bg-primary: #1A0B2E;
    --bg-secondary: #230E3D;
    --btn-secondary: #00FF88;
    --linear-first: #F7E93F;
    --linear-second: #FB09B4;
    --linear-third: #9100F8;
    --text-primary: #FFFFFF;
}

.banner-title{
            display: flex;
            color: yellow;
            letter-spacing: 5px;
            font-size: 50px;
        }
        .banner-title span{
            display: inline-block;
            animation: bounce 1s ease infinite;
        }
        .banner-title span:nth-child(2){
            animation-delay: 0.1s;
        }
        .banner-title span:nth-child(3){
            animation-delay: 0.2s;
        }
        .banner-title span:nth-child(4){
            animation-delay: 0.3s;
        }
        .banner-title span:nth-child(5){
            animation-delay: 0.4s;
        }
        .banner-title span:nth-child(6){
            animation-delay: 0.5s;
        }
        .banner-title span:nth-child(7){
            animation-delay: 0.6s;
        }
        @keyframes bounce{
            0%, 100%{
                transform: translateY(0);
                }
                50%{
                    transform: translateY(-20px);
            }
        }